body{
    background-color: black;
    color: #ffffff;
    padding-left: 80px;
    padding-top: 130px;
}
.text{
    font-family: Fira Code ,monospace;
    color: rgb(0, 153, 0);
    margin-bottom: 12px;
}
.title1{
    font-family: Fira Code ,monospace;
    color: white;
    margin-bottom: 12px;
    font-size: 25px;
}
.title{
    font-size: 50px;
    margin-bottom: 20px;
}
.button{
    color: rgb(0, 153, 0);
    font-size: 22px;
    
}
